.nav-item a {
  position: relative;
}
.nav-item a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10;
  height: 3px;
  width: 0%;
  background: #18d765;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-item a:hover:before {
  width: 80%;
}

.dropdown-menu img {
    width: 15px;
}