* {
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
}

body {
  background-color: #cccccc;
 }

#start {
  text-align: center;
  margin: 5vh auto;
  width: 50%;
  border: 3px solid #ffc41b;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: .8rem;
  margin: 2.4vh auto;
}

.heading {
  background: #fff;
  padding: .8rem;
  max-width: 80vh;
  margin: 2.4vh auto;
  font-size: 1.2rem;
  line-height: 1.5;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.layout_container {
  max-width: 100%;
  background: #fff;
  position: fixed;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  box-sizing: border-box;
  overflow-y: scroll;
  z-index: 100;
  border: solid;
  padding: 2.4vh;
}

.footer {
  padding: 2.4rem 0 0;
}

.footer_content {
  font-size: .8rem;
  text-align: center;
}
