* {
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
}

body {
  background-color: #cccccc;
 }

#start {
  text-align: center;
  margin: 5vh auto;
  width: 50%;
  border: 3px solid #ffc41b;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;

  margin: 5vh auto;
}

.layout_container {
  max-width: 100%;
  background: #fff;
  position: fixed;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  box-sizing: border-box;
  overflow-y: scroll;
  z-index: 100;
  border: solid;
  padding: 2.4vh;
}