body{
  background-color: #191b1b;
  color: #c5beb7;
  margin: 0;
  padding: 0;
}
#start{
  margin: auto;
  width: 50%;
  border: 3px solid #ffc41b;
  padding: 10px;
}
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
